{% extends "clients/base.html" %}

{% block content %}
    <div class="row">
        <div class="col text-right mt-4">
            <a class="btn btn-primary btn-sm mr-2" href="{% url 'clients-update' client.id %}" role="button">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'clients-delete' client.id %}" role="button">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="col w-100 mt-4">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      General client data
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                      <p class="pl-3"><strong>ID:</strong> {{ object.id }}</p>
                      <p class="pl-3"><strong>Name:</strong> {{ object.name }}</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      SFTP details
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                      <p class="pl-3"><strong>Hostname:</strong> {{ object.sftp_host }}</p>
                      <p class="pl-3"><strong>Port:</strong> {{ object.sftp_port }}</p>
                      <p class="pl-3"><strong>Directory path:</strong> {{ object.path }}</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Service API details
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <!-- Service API details go here -->
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock content %}