{% extends "clients/base.html" %}

{% block content %}
    <div class="content-section mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Delete client
                </legend>
                <h4>Are you sure you want to delete client "{{ object.name }}" and remove all of its associated resources from AWS?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger mr-2" type="submit">Confirm</button>
                <a class="btn btn-secondary" href="javascript:history.back()">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}